@import "~bootstrap/scss/bootstrap";

header {
    overflow: hidden;
    position: sticky;
    width: 100%;
    z-index: 1;
    top: 0;
    background-color: rgb(234, 234, 234);
    height: 10vh;
}

footer {
    background-color: rgb(234, 234, 234);
}

nav li {
    list-style-type: none;
    a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    &:hover {
        color: grey;
    }
    }
}

